<div class="ss-container">
  <div class="header-2">
    <div class="logo-container">
      <a routerLink="/"
        ><img src="../../../../assets/images/mf-logo.png" class="logo"
      /></a>
    </div>
    <div id="nav" class="nav">
      <ul class="links">
        <li>
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/services']">Services</a>
        </li>
        <li>
          <a [routerLink]="['/about-us']">About Us</a>
        </li>
        <!--li>
          <a [routerLink]="['/careers']">Careers</a>
        </li-->
        <li>
          <a [routerLink]="['/contact-us']">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mobile-outer">
    <nav role="navigation">
      <div id="menuToggle" [ngClass]="{ 'menu-open': showNav }">
        <input type="checkbox" [(ngModel)]="showNav" />
        <span></span>
        <span></span>
        <span></span>
        <ul
          id="menu"
          class="mobile-menu"
          [ngClass]="{ 'mobile-menu-open': showNav }"
        >
          <li>
            <a [routerLink]="['/home']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/services']">Services</a>
          </li>
          <li>
            <a [routerLink]="['/about-us']">About Us</a>
          </li>
          <li>
            <a [routerLink]="['/contact-us']">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="mobile-nav" class="mobile-header grid" style="--bs-columns: 3">
        <div id="mobile-nav" class="mobile-header grid">
      <div class="icon-outer">
        <img src="../../../../assets/images/mf-logo.png" class="logo" />
      </div>
    </div>
  </div>
</div>
