.contact-top-section{    
    border-radius: 10px;
    background-color: white;
    background-image: url(../../../assets/images/contactusnew.jpg);
    border: 1px solid black;
    height: 340px;
    text-align: center;
    font-size: 18px;    
}
.contact-p-section{
    color: #fff;
    width:50%;
}
.contact-top-section-h1 {
    font-size: 100px;
}
.contact-subsection-h2{
    font-family: sans-serif !important;
}
.contact-subsection-p{
    font-size: 20px;
}
@media screen and (max-width: 480px) {
    .contact-top-section{  
        border-radius: 10px;
        background-color: white;
        background-image: url(../../../assets/images/contactusnew.jpg);
        border: 1px solid black;   
        text-align: center;
        font-size: 18px;
        height: 150px;
        }
    
        .contact-top-section-h1 {
            font-size: 40px;
        }
    
        
        .contact-p-section{
            color: #fff;
            text-align: justify;
            width:100%;
        }

        .contact-subsection-h2{
            font-family: sans-serif !important;
            text-align: left;
        }

        .contact-subsection-p{
            font-size: 20px;
            text-align: left;
        }
}