<div style="border-radius:300px;padding-top: 150px;background-color:white;background-image:url(../../../assets/images/aboutus.jpg);border:1px solid black;width:1187px;height:517px;text-align: center;font-size:18px;">
    <div class="container">
        <div class="grid grid-cols-1 pb-8 text-center mt-10">
            <h1 style="font-size: 100px;" class="mb-6  lg:text-5xl text-4xl md:leading-normal leading-normal font-medium text-white">Contact Us</h1>

            <p style="color: #fff;" class="text-white/80 text-lg max-w-2xl mx-auto">To find a unique solution that is ideal for you, speak with one of our experienced engineers immediately.</p>
        </div>
    </div></div>

    <div class="grid grid-cols-1 pb-8 text-center" style="padding-top:40px;">
        <h2 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold" style="font-family: sans-serif !important;">Let's Build Something Great Together with HubexTech
        </h2>
        <p class="text-[#94A3B8] dark:text-[#8490A0] text-md mx-auto max-w-4xl" style="--tw-text-opacity: 1 !important;
        color: rgb(148 163 184 / var(--tw-text-opacity)) !important;font-size: 20px;width: 1000px;">We at HubexTech are passionate about assisting companies of all sizes in achieving their objectives using innovative software. Our team is experienced in a variety of fields, including software engineering, artificial intelligence, online and mobile app development, and more. We would be interested in hearing from you if you're searching for a partner to assist you grow your company. We'll arrange a session if you're interested in working with us to go over your project and how we can support you in achieving your objectives.

</p>

<p class="text-[#94A3B8] dark:text-[#8490A0] text-md mx-auto max-w-4xl" style="--tw-text-opacity: 1 !important;font-size: 30px;">As a custom software development company, HubexTech has contributed to the number of B2C and B2B initiatives and existing projects used by thousands of people, by establishing requirements because we know what software needs to have.


</p>
    </div>

    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-[30px]">
            <div class="text-center px-6 mt-6">
                <div class="w-20 h-20 bg-[#1591EE]/5 text-[#1591EE] rounded-xl text-3xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 mx-auto">
                    <i class="uil uil-phone"></i>
                </div>

                <div class="content mt-7">
                    <h5 class="title h5 text-xl font-medium">Phone</h5>
                    <p class="text-[#94A3B8] dark:text-[#8490A0] mt-3">Contact us for any queries and discuss your
                        project right away</p>

                    <div class="mt-5">
                        <a href="tel:+61 (0420 296 818)" class="btn btn-link text-[#1591EE] hover:text-[#1591EE] after:bg-[#1591EE] duration-500 ease-in-out">+
                            61 (0420 296 818)</a>
                    </div>
                </div>
            </div>

            <div class="text-center px-6 mt-6">
                <div class="w-20 h-20 bg-[#1591EE]/5 text-[#1591EE] rounded-xl text-3xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 mx-auto">
                    <i class="uil uil-envelope"></i>
                </div>

                <div class="content mt-7">
                    <h5 class="title h5 text-xl font-medium">Email</h5>
                    <p class="text-[#94A3B8] dark:text-[#8490A0] mt-3">Reach out for your product and system to build
                        and integrate</p>

                    <div class="mt-5">
                        <a href="mailto:sales@hubextech.com" class="btn btn-link text-[#1591EE] hover:text-[#1591EE] after:bg-[#1591EE] duration-500 ease-in-out">sales@hubextech.com</a>
                    </div>
                </div>
            </div>

            <div class="text-center px-6 mt-6">
                <div class="w-20 h-20 bg-[#1591EE]/5 text-[#1591EE] rounded-xl text-3xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 mx-auto">
                    <i class="uil uil-map-marker"></i>
                </div>

                <div class="content mt-7">
                    <h5 class="title h5 text-xl font-medium">Location</h5>
                    <p class="text-[#94A3B8] dark:text-[#8490A0] mt-3">4 Riverina boulevard, Brookfield 3338 <br>
                        Melbourne, Australia</p>

                    <div class="mt-5">
                        <a href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6312.961097192748!2d144.54111963488765!3d-37.7083967!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad693151396b1df%3A0xfaf6c1c475e03ae2!2s4%20Riverina%20Blvd%2C%20Brookfield%20VIC%203338%2C%20Australia!5e0!3m2!1sen!2s!4v1671431480394!5m2!1sen!2s" data-type="iframe" class="video-play-icon read-more lightbox btn btn-link text-[#1591EE] hover:text-[#1591EE] after:bg-[#1591EE] duration-500 ease-in-out">View
                            on Google map</a>
                    </div>
                </div>
            </div>
        </div>
    </div>