.ss-container {
  width: 100%;
}
.header-1,
.nav {
  display: block;

  float: right;
}

h1 {
  display: inline-block;
}

.logo-container {
  float: left;
  a {
    padding: 0 !important;
  }
}

.logo {
  height: 64px;
}

.user {
  display: inline-flex;
  float: right;
  margin: 20px 0px;

  img {
    margin-top: 12px;
    float: left;
  }
  a {
    text-decoration: underline;
  }
  span {
    margin-top: 20px;
  }
}

.header-2 {
  background-color: #2d67bc;
  width: 100%;
  height: 64px;
  padding: 0 10%;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
  }

  a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 18px;
  }

  /* Change the link color to  #4CAF50 on hover */
  li a:hover {
    background-color: #2d67bc;
  }

  .active {
    background-color: #2d67bc;
  }
}

@media screen and (max-width: 940px) {
  .header-1,
  .nav {
    margin: 0 2%;
  }

  .header-2 {
    background-color: #2d67bc;
    width: 100%;
    height: 64px;
    padding: 0 1%;
  }
}

@media screen and (max-width: 760px) {
  .logo-container {
    display: none;
  }
}
@media screen and (max-width: 490px) {
  .logo {
    text-align: center;
    margin-left: 24%;
  }
}
