.service-top-section{    
    border-radius: 10px;
    background-color: white;
    background-image: url(../../../assets/images/services.jpg);
    border: 1px solid black;
    height: 400px;
    text-align: center;
    font-size: 18px;    
}
.service-p-section{
    color: #fff;
}
.service-top-section-h1 {
    font-size: 100px;
}
.service-subsection-h2{
    font-family: sans-serif !important;    
}
.service-subsection-p{    
    --tw-text-opacity: 1 !important;
    color: rgb(148 163 184 / var(--tw-text-opacity)) !important;
    font-size: 20px;
    width: 1000px;
}
.service-subsection-image-div{
    display: inline-flex;
}
.service-subsection-image{
    border-radius: 10px; 
    width: 400px
}
.service-subsection-image-p{
    padding-left: 20px;
    --tw-text-opacity: 1 !important;
    color: rgb(148 163 184 / var(--tw-text-opacity)) !important;
    font-size: 20px;
    width: 100%;
    text-align: justify;
}
@media screen and (max-width: 480px) {
    .service-top-section{  
    border-radius: 10px;
    background-color: white;
    background-image: url(../../../assets/images/services.jpg);
    border: 1px solid black;   
    text-align: center;
    font-size: 18px;
    height: 320px;
    }

    .service-top-section-h1 {
        font-size: 40px;
    }

    .service-subsection-h2{
        font-family: sans-serif !important;  
        font-size: 25px;  
    }
    .service-p-section{
        color: #fff;
        text-align: justify;
    }
    .service-subsection-p{    
        --tw-text-opacity: 1 !important;
        color: rgb(148 163 184 / var(--tw-text-opacity)) !important;
        font-size: 20px;
        width: 100% !important;
        text-align: justify;
    }

    .service-subsection-image-div{
        display: grid;
    }

    .service-subsection-image{
        border-radius: 10px; 
        width: 100% !important;
    }
    .service-subsection-image-p{
        padding-top: 30px;
        padding-left: 0px;
        --tw-text-opacity: 1 !important;
        color: rgb(148 163 184 / var(--tw-text-opacity)) !important;
        font-size: 20px;
        width: 100%;
        text-align: justify;
    }

  }