<div>
  <div>
    <div class="section-2">
      <h3>Software Development Consulting Services</h3>
      <p>
        HubexTech is a software consulting company with a team of skilled
        engineers, designers, and project managers. HubexTech is helping
        businesses grow faster by providing exceptional custom software
        development solutions. Among the many services we provide are consulting
        services for software development as well as enterprise-level web and
        mobile application development. HubexTech ensures that our software
        development services are dependable, secure, and maintainable. We enable
        businesses to get ahead in the technology need and advance services.
        Explore our services and areas of expertise to gain insights into how we
        can assist in scaling up your business.
      </p>
    </div>
    <div class="mini-cards">
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            HubexTech has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            HubexTech has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            HubexTech has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            HubexTech has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            HubexTech has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            HubexTech has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            HubexTech has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            HubexTech has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            HubexTech has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            HubexTech has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            HubexTech has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>

      <div class="mini-card">
        <div class="icon-outer">
          <img src="../../../assets/images/high-performance.png" />
        </div>
        <h4>High Performance</h4>
        <p>
          HubexTech has a strong reputation for delivering high-quality outcomes
          resulting from its high performance.
        </p>
      </div>
    </div>
  </div>
</div>
