<div>
  <div>
    <div class="section-2">
      <h1>Software Development Services</h1>
      <p>
        Welcome to MindForge, your trusted partner in the realm of software innovation. 
        Our team comprises skilled engineers, designers, and project managers dedicated to 
        accelerating the growth of businesses through exceptional custom software development solutions.
        MindForge empowers businesses to not only meet but exceed their technology needs. 
        Explore our comprehensive suite of services and areas of expertise to discover how we can be your strategic partner in 
        scaling up your business.
      </p>
    </div>
    <div class="mini-cards">
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            MindForge has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/solutions.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Cutting-Edge Technology</h5>
          <p class="card-text">
            Harness the power of the latest technologies for superior performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/best-s.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Best Securities
          </h5>
          <p class="card-text">
            We ensure high-tech security, by continuous testing and reviewing for safety.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/IT.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Custom Software Development</h5>
          <p class="card-text">
            Empower your business with MindForge's expertise.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/247.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">24/7 Support</h5>
          <p class="card-text">
            We are available 24/7 to meet the flexible timing and support
            needed.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/Agile.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Agile Innovation</h5>
          <p class="card-text">
            We follow agile innovation through continuous improvements and
            maintenance.
          </p>
        </div>
      </div>
    
      <div class="card">
        <img
          src="../../../assets/images/webmobile.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Web and Mobile</h5>
          <p class="card-text">
            Elevate your digital presence with our proficiency in crafting robust web and mobile applications designed.
          </p>
        </div>
      </div>
      
      <div class="card">
        <img
          src="../../../assets/images/certified.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Certified Engineers</h5>
          <p class="card-text">
            Our certified engineers and project managers bring industry-recognized expertise to the table.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
