<div>
  <div>
    <div class="section-2">
      <h3>Software Development Consulting Services</h3>
      <p>
        MindForge is a software consulting company with a team of skilled
        engineers, designers, and project managers. MindForge is helping
        businesses grow faster by providing exceptional custom software
        development solutions. Among the many services we provide are consulting
        services for software development as well as enterprise-level web and
        mobile application development. MindForge ensures that our software
        development services are dependable, secure, and maintainable. We enable
        businesses to get ahead in the technology need and advance services.
        Explore our services and areas of expertise to gain insights into how we
        can assist in scaling up your business.
      </p>
    </div>
    <div class="mini-cards">
      <div class="card">
        <img
          src="../../../assets/images/high-performance.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">High Performance</h5>
          <p class="card-text">
            MindForge has a strong reputation for delivering high-quality
            outcomes resulting from its high performance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/best-s.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Best Securities</h5>
          <p class="card-text">
            We ensure high-tech security, by continuous testing and reviewing
            for safety.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/trusted.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Trusted Service</h5>
          <p class="card-text">
            We assure the best services and our clientele retention is because
            of providing guaranteed technical solutions.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/info-13.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Info Technology</h5>
          <p class="card-text">
            We are info technology experts by providing the customize latest and
            most advanced technology solutions.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/247.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">24/7 Support</h5>
          <p class="card-text">
            We are available 24/7 to meet the flexible timing and support
            needed.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/Agile.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Agile Innovation</h5>
          <p class="card-text">
            We follow agile innovation through continuous improvements and
            maintenance.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/on-demand.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">On-Demand Solution</h5>
          <p class="card-text">
            We are always ready to provide personalized solutions on demand.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/solutions.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Development Solutions</h5>
          <p class="card-text">
            We provide complete software development & consultancy services.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/IT.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">IT Management</h5>
          <p class="card-text">
            From network management to cybersecurity solutions we provide a
            complete roadmap.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/data-analyst.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Data Analyst</h5>
          <p class="card-text">
            To get the ultimate solutions our data analyst expert provides the
            best exploratory services.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../assets/images/certified.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Certified Company</h5>
          <p class="card-text">
            MindForge is legally working for more than a decade and providing
            its assistance globally.
          </p>
        </div>
      </div>

      <div class="card">
        <img
          src="../../../assets/images/trusted-communications.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Trusted Communication</h5>
          <p class="card-text">
            Our 70% clientele retention is because of the transparent and
            trusted communication.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
