.section-2 {
  display: inline-block;
  text-align: center;
  .h2 {
    margin: 0 auto;
    display: block;
  }
}

.mini-cards {
  display: inline-block;
  img {
    width: 3.5rem !important;
    padding: 10px;
    background-color: #fff;
    border-style: solid;
    border-radius: 50%;
    margin-left: 35%;
  }
}
.card {
  display: inline-flex;
  height: 250px;
  margin: 20px 20px;
  background-color: #2d67bc;
  color: #fff;
  padding: 10px 20px;
  width:21%;

  .icon-outer {
    background-color: #fff;
  }
}

.mini-card {
  display: inline-block;
  width: 250px;
  margin: 20px 20px;
  background-color: #2d67bc;
  color: #fff;
  padding: 10px 20px;
  img {
    width: 3.5rem !important;
    padding: 10px;
    background-color: #fff;
    border-style: solid;
    border-radius: 50%;
    margin-left: 35%;
  }
}

@media screen and (max-width: 720px) {
  .card {
    width: 100%;
    background-color: #2d67bc;
    color: #fff;
    padding: 10px 20px;
    margin: 12px 6px;
  }
}
