<div class="aboutus-maindiv">
    <div class="container">
        <div class="grid grid-cols-1 pb-8 text-center mt-10">
            <h1 class="aboutus-h1 mb-6  lg:text-5xl text-4xl md:leading-normal leading-normal font-medium text-white">Make It Yours.</h1>

            <p class="aboutus-p text-white/80 text-lg max-w-2xl mx-auto" style="font-size: 40px;">It's your career. Your life.
                Where do you want to go?
                </p>
        </div>
    </div></div>
    <div class="lg:col-span-7 md:col-span-6" style="padding-top: 20px">
        <div class="ltr:lg:ml-5 rtl:lg:mr-5">
           

             

            <p class="text-[#94A3B8] dark:text-[#8490A0] max-w-xl text-md" style="--tw-text-opacity: 1 !important;
            color: rgb(148 163 184 / var(--tw-text-opacity)) !important;
            font-size: 20px;">
                Your life is shaped by your ideas. You want a career that helps you realize those ideas and an employer that supports your aspirations. Whether it's developing new skills, opportunities to innovate and grow, or the flexibility to enjoy moments that matter, at RBC you can find everything you need to build your career and life.
            </p>
            <div class="mt-6">
                <a class="btn cursor-pointer bg-[#1591EE]  border-[#1591EE]  text-white rounded-md ltr:mr-2 rtl:ml-2 mt-2 hover:bg-sky-600" href="/contact-us" target="_blank"><i class="uil uil-envelope"></i> Contact Us</a>
            </div>
        </div>
    </div>
    