.aboutus-maindiv{
    padding-top: 150px;
    background-color:white;
    background-image:url(../../../assets/images/career.png);
    border:1px solid black;
    width:1187px;
    height:517px;
    text-align: center;
    font-size:18px;
    border-radius:300px;
}
.aboutus-h1{
    font-size: 100px;
}

.aboutus-p{
    color: #fff;
}