<div class="aboutus-top-section">
  <div class="container">
    <div class="">
      <h1 class="aboutus-top-section-h1 text-white" >
        About Us
      </h1>

      <p class="aboutus-p-section">
        MindForge is a custom software development company. We are committed to
        developing innovative software solutions that people require while
        staying within their budget and fostering genuine relationships while
        making valuable stuff.
      </p>
    </div>
  </div>
</div> 




<div class="about-subsection-div grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">

  <div class="lg:col-span-5 md:col-span-6">
     <div
       class="grid grid-cols-12 gap-6 items-center"
       style="display: inline-flex"
     >
       <div class="col-span-12 xs:col-span-6" style="padding: 20px">
         <div class="grid grid-cols-1 sm:gap-6">
           <img
             src="../../../assets/images/ab03.jpg"
             class="about-subsection-image shadow rounded-md xs:block hidden"
             alt="Years Experience"
           />
           <img
             src="../../../assets/images/ab02.jpg"
             style="margin-top: 20px;"
             class="about-subsection-image shadow rounded-md xs:block hidden"
             alt="Years Experience"
           />
         </div>
       </div>
 
       <div class="col-span-6" style="padding: 130px 20px 0px 0px">
         <div class="grid grid-cols-1 gap-6 hidden xs:block">
           <img
             src="../../../assets/images/ab01.jpg"
             class="about-subsection-image shadow rounded-md xs:block hidden"
             alt="Years Experience"
           />
         </div>
       </div>
     </div>
   </div>
 
 <div class="lg:col-span-7 md:col-span-6" style="padding-top: 20px">
  <h3
       class="mb-8 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold"
     >
       Who We Are ?
     </h3>
   <div class="about-subsection-div3 ltr:lg:ml-5 rtl:lg:mr-5">
     
 
     <p class="about-subsection-p text-[#94A3B8] dark:text-[#8490A0] max-w-xl text-md">
       MindForge is a result of 10 years of custom software development and
       startup consulting. We comprise the company both with people and
       skillsets to provide prioritized custom software solutions with vast
       experienced resources.
       <br />
       We are working with the latest technology stacks and covering all the
       software development life cycle’s aspects from idea, designing,
       development, deployment, and testing to maintenance.
       <br />
       We are aiming to face the challenges of helping startup entrepreneurs
       launch their successful tech businesses and helping established
       enterprises to flourish. Through skill development as well as the
       provision of consistent, high-quality services, we have been serving
       with empirical improvements of technical personnel.
     </p>
  </div>
 </div>
  
 
   
 </div>